mixin reviews(data)
	+b.SECTION.reviews
		+e.inner.center
			+e.H2.title.heading._h2 Отзывы
			+e.UL.list#reviews
				+e.LI.item
					a(href='__static__img/content/reviews/review-1.png')
						img(src='__static__img/content/reviews/review-1.png')
				+e.LI.item
					a(href='__static__img/content/reviews/review-2.png')
						img(src='__static__img/content/reviews/review-2.png')
				+e.LI.item
					a(href='__static__img/content/reviews/review-3.png')
						img(src='__static__img/content/reviews/review-3.png')
				+e.LI.item
					a(href='__static__img/content/reviews/review-4.png')
						img(src='__static__img/content/reviews/review-4.png')
						//- -for(var i = 0; i < data.name.length; i++)
						//- 							+e.LI.item
						//- 								+e.A.link(href='#{data.path}#{data.name[i]}_800x600.jpg' class=className rel='group')
						//- 									+e.IMAGE.image(src='#{data.path}#{data.name[i]}.jpg' width='200' height='200')
