mixin reviews(data)
	+b.SECTION.reviews
		+e.inner.center
			+e.H2.title.heading._h2 Отзывы
			+e.UL.list#reviews
				+e.LI.item
					a(href='http://placehold.it/800x600')
						img(src='http://placehold.it/90x130')
				+e.LI.item
					a(href='http://placehold.it/800x600')
						img(src='http://placehold.it/90x130')
				+e.LI.item
					a(href='http://placehold.it/800x600')
						img(src='http://placehold.it/90x130')
				+e.LI.item
					a(href='http://placehold.it/800x600')
						img(src='http://placehold.it/90x130')
				+e.LI.item
					a(href='http://placehold.it/800x600')
						img(src='http://placehold.it/90x130')
				+e.LI.item
					a(href='http://placehold.it/800x600')
						img(src='http://placehold.it/90x130')

						//- -for(var i = 0; i < data.name.length; i++)
						//- 							+e.LI.item
						//- 								+e.A.link(href='#{data.path}#{data.name[i]}_800x600.jpg' class=className rel='group')
						//- 									+e.IMAGE.image(src='#{data.path}#{data.name[i]}.jpg' width='200' height='200')
